<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TomeeTarget</servlet-name>
        <servlet-class>foundation.softwaredesign.comuni.gui.ProxyPass</servlet-class>
        <init-param>
            <param-name>portOut</param-name>
            <param-value>8021</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/comuni-conversations</param-value>
        </init-param>
        <init-param>
            <param-name>replace</param-name>
            <param-value>/comuni-conversations</param-value>
        </init-param>
        <init-param>
            <param-name>with</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>TomeeTarget</servlet-name>
        <url-pattern>/comuni-conversations/*</url-pattern>
    </servlet-mapping>
</web-app>
