@import '@angular2-material/core/style/theme-functions';
@import '@angular2-material/core/style/palette';

// theme
$md-is-dark-theme: false;

$md-primary: md-palette($md-indigo, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-orange, 500, 300, 800, $md-contrast-palettes);
$md-warn: md-palette($md-red, 500, 300, 900, $md-contrast-palettes);
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground);
$md-background: if($md-is-dark-theme, $md-dark-theme-background, $md-light-theme-background);

.cm-content-container {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 15px;
}
